<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <title>Copa Branca</title>
  </head>
  <body>
    <div class="container">
      <div id="cabecera">              
        <h1 class="jumbotron text-center">Pronósticos</h1>
      </div>
      
      <div id="main_container" class="container text-center">
        <img src="https://cdn.glitch.com/9c4de69b-f9b0-488b-92bf-01fcb9ea22ee%2Floader.GIF?1519134332388" />
      </div>    
      
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.3.1.min.js"></script>    
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js" ></script>
    
    <script src="/js/client.js"></script>
    <script type="text/javascript">                                           
       $(document).ready(function (){
           init_app();
       });           
    </script> 
  </body>
</html>