<form class="form-signin" enctype="multipart/form-data">
  <h1 class="h3 mb-3 font-weight-normal">Registrar un equipo</h1>
  
  <label for="nombre" class="sr-only">Nombre</label>  
  <input id="nombre" size="16" type="text" class="form-control" value="" placeholder="Nombre" required>
  
  <label for="nombre_corto" class="sr-only">Nombre Corto</label>  
  <input id="nombre_corto" size="16" type="text" class="form-control" value="" placeholder="Nombre corto" required>
  
  <label for="file" class="sr-only">Bandera</label>    
  <img id="img_bandera" src='' class='img-thumbnail' alt='Bandera' style="display:none" />
  <input id="file" type="file" name="file" class="form-control" placeholder="URL Bandera" required>
  Grupo: <select id="grupo" class="custom-select"></select>      
  
  <div id="alert_registro" class="alert alert-warning mt-5" style="display:none">         
    <div id="txt_alert"></div>
  </div>
  
  <div class="row text-center mt-5">
    <button id="btn_registrar" type="submit" class="btn btn-success" >Registrar</button>
    <button id="btn_actualizar" type="submit" class="btn btn-secondary" style="display: none">Actualizar</button>
    <a href="/adm/equipos" class="btn btn-danger ml-2" role="button">Cancelar</a>
  </div>
</form>
          
